<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>App de prueba</title>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
</head>
<body>
    <div class="container center-align">
        <h1>Test de página</h1>
        <a href="/start" class="waves-effect waves-light btn-large">Iniciar servicio</a>
        <a href="/stop" class="waves-effect amber darken-4 btn-large">Detener servicio</a>
        <a href="/update" class="waves-effect light-blue darken-3 btn-large">Descargar archivo</a>
    </div>
</body>
</html>